@media (hover: hover) {
  .none {
    transform: scale(1);
  }
  .scale {
    transition: transform 200ms ease;
  }

  .scale:hover {
    transform: scale(1.05);
  }

  .scale:active {
    transform: scale(1);
  }

  .scaleL {
    transition: transform 200ms ease;
  }

  .scaleL:hover {
    transform: scale(1.2);
  }

  .scaleL:active {
    transform: scale(1);
  }
}

.darken {
  filter: brightness(0.5);
}
